/* Hide radio buttons */
.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
    position: relative;
}

.rate>label {
    float: right;
    color: #ccc;
    position: relative;
}

/* Full star */
.rate>label:before {
    display: inline-block;
    font-size: 1.8rem;
    font-family: FontAwesome;
    content: "\f005";
    padding: 0.3rem .2rem;
    cursor: pointer;
}

/* Half star */
.rate>label.half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* Selected stars */
.rate>input:checked~label {
    color: #ffb503;
}

/* Hover */
.rate>label:hover,
.rate>label:hover~label {
    color: #ffb503;
}

/* Existing review stars */
.rating-star i {
    color: #ffb503 !important;
}